<!DOCTYPE html>
<html lang="ja" ng-app>
  <head>
    <title>angular</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../css/base.css"></link>
    <link rel="stylesheet" type="text/css" href="../css/customerlist.css"></link>

    <script src="../js/angular.min.js" type="text/javascript"></script>
    <script src="./js/websockclient.js" type="text/javascript"></script>
    <script src="./js/customerlist.js" type="text/javascript"></script>
  </head>
  <body >
    <div class="bodypanel" ng-controller="customerList">
      <div id="divMain" class="mainpanel">
        <h1 class="headtitle">CustomerList</h1>
        <div id="divCommand" class="commandPanel">
          <button id="btnReload" class="button commandbutton">Reload</button>
          <button id="btnRegist" class="button commandbutton">Regist</button>
          <button id="btnEdit" class="button commandbutton">Edit</button>
          <button id="btnRemove" class="button commandbutton">Remove</button>
        </div>
        <div id="divList" class="listRect">

          <div id="divListTitle" class="listHeaderRow">
            <div id="listHeadChoice" class="listheaderColumn choiceColumn">choice</div>
            <div id="listHeadId" class="listheaderColumn idColumn">id</div>
            <div id="listHeadName" class="listheaderColumn nameColumn">name</div>
            <div id="listHeadSex" class="listheaderColumn sexColumn">sex</div>
            <div id="listHeadZip" class="listheaderColumn zipColumn">zip</div>
            <div id="listHeadAdddate" class="listheaderColumn adddateColumn">adddate</div>
            <div id="listHeadModdate" class="listheaderColumn moddateColumn">moddate</div>
          </div>
          <div id="divListBody" class="listBody customerListBody">
            <div id="divListData" class="customerListData">
              <div ng-repeat="customer in customers">
                <div class="listDataRow">
                  <div ng-click="setSelect(customer.index)" ng-class="customer.selected ? 'listDataChoicedColumn choiceColumn choiceDataColumn' : 'listDataColumn choiceColumn choiceDataColumn'"></div>
                  <div ng-class="customer.selected ? 'listDataChoicedColumn idColumn idDataColumn' : 'listDataColumn idColumn idDataColumn'">{{customer.id}}</div>
                  <div ng-class="customer.selected ? 'listDataChoicedColumn nameColumn nameDataColumn' : 'listDataColumn nameColumn nameDataColumn'">{{customer.name}}</div>
                  <div ng-class="customer.selected ? 'listDataChoicedColumn sexColumn sexDataColumn' : 'listDataColumn sexColumn sexDataColumn'">{{customer.sex}}</div>
                  <div ng-class="customer.selected ? 'listDataChoicedColumn zipColumn zipDataColumn' : 'listDataColumn zipColumn zipDataColumn'">{{customer.zip}}</div>
                  <div ng-class="customer.selected ? 'listDataChoicedColumn adddateColumn adddateDataColumn' : 'listDataColumn adddateColumn adddateDataColumn'">{{customer.adddate}}</div>
                  <div ng-class="customer.selected ? 'listDataChoicedColumn moddateColumn moddateDataColumn' : 'listDataColumn moddateColumn moddateDataColumn'">{{customer.moddate}}</div>
                  <input name = "hidIndex" type="hidden" value="{{customer.index}}"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
